{% extends 'home.html' %}
{% block body %}
<h2>{{ name }}</h2>
<a>Games Played: {{ nflPlayerStat.games_played }}</a> 
<a>Receptions: {{ nflPlayerStat.games_played }}</a> 
<a>Touchdowns: {{ nflPlayerStat.games_played }}</a> 
<a>Passing Yards: {{ nflPlayerStat.games_played }}</a> 
<a>Completions: {{ nflPlayerStat.games_played }}</a> 
<a>Rushing Yards: {{ nflPlayerStat.games_played }}</a> 
<a>Interceptions(Offense): {{ nflPlayerStat.games_played }}</a> 
<a>Interceptions(Defense): {{ nflPlayerStat.games_played }}</a>  
<a>Sacks: {{ nflPlayerStat.games_played }}</a> 
<a>Tackles: {{ nflPlayerStat.games_played }}</a> 
<a>Safety: {{ nflPlayerStat.games_played }}</a> 
<button onclick ="{{ url_for('updateStats', playerid = nflPlayerStat.player_id) }}" >Update Player Stats</button> || <button onclick ="{{ url_for('deleteStats', playerid = nflPlayerStat.player_id) }}" >Delete Player Stats</button>         
<br>

{% endblock body %}