{% extends 'home.html' %}
{% block body %}
<h2>Players</h2>
{% for player in nflPlayer %}
<a href= "{{ url_for('playerStats', playerid = player.id) }}">Player: {{ player.player_name }}</a>  |  <a>Position: {{ player.position }}</a>  |  <a>height: {{ player.height }}</a>  |  <a>Date of Birth: {{ player.DoB }}</a>  |  <a href="{{ url_for('updatePlayer', playerid = player.id) }}" class ="btn btn-primary " >Update Player Information</a>    <a href="{{ url_for('deletePlayer', playerid = player.id) }}" class ="btn btn-primary " >Delete Player</a>         
<br>
{% endfor %}
{% endblock body %}